<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.LoginFailedTest"/>
      <class name="tests.MainPageTest"/>
      <class name="tests.BaseTest"/>
      <class name="tests.E2EOrderFlightTest"/>
      <class name="tests.FlightsEditTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
